<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springcloud.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springcloud.entity.Dept">
    <id column="deptno" jdbcType="BIGINT" property="deptno" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="db_source" jdbcType="VARCHAR" property="db_source" />
  </resultMap>
  <sql id="Base_Column_List">
    deptno, dname, db_source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept
    where deptno = #{deptno,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dept
    where deptno = #{deptno,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kevin.springcloud.entity.Dept">
    insert into dept (deptno, dname, db_source
      )
    values (#{deptno,jdbcType=BIGINT}, #{dname,jdbcType=VARCHAR}, #{db_source,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kevin.springcloud.entity.Dept">
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        deptno,
      </if>
      <if test="dname != null">
        dname,
      </if>
      <if test="db_source != null">
        db_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        #{deptno,jdbcType=BIGINT},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="db_source != null">
        #{db_source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kevin.springcloud.entity.Dept">
    update dept
    <set>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="db_source != null">
        db_source = #{db_source,jdbcType=VARCHAR},
      </if>
    </set>
    where deptno = #{deptno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kevin.springcloud.entity.Dept">
    update dept
    set dname = #{dname,jdbcType=VARCHAR},
      db_source = #{db_source,jdbcType=VARCHAR}
    where deptno = #{deptno,jdbcType=BIGINT}
  </update>

  <insert id="add" parameterType="dept">
    insert into dept(dname,db_source) values(#{dname},DATABASE());
  </insert>

  <select id="findAll" resultType="dept">
    select * from dept;
  </select>
</mapper>